<!doctype html>
<html><head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="NONE,NOARCHIVE"/>        

<link rel="icon" type="image/png" 
    href="{{ url_for('static', filename='favicon.png') }}"/>

<title>Lending</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"/>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='lending/css/base.css')}}"/>

<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='lending/css/lending.css')}}"/>

</head><body>
Hello Lending!!!

<!-- Script -->
<script src="{{url_for('static', filename='jquery/jquery.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap/bootstrap.min.js')}}"></script>

</body></html> 
